body {margin:0;}

*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration:none;
}

header{
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid purple;
    
    top: 0;
    bottom:0;
}

header .icon {
    float:left;
}

nav{
    position: absolute;
    right:40px;
    /*float: right;*/
    padding-top: 14px;
    margin-right: 5px;
    background-color: white;
}

.container {
    display: none;
}

.navItem{
    padding: 9px;
    margin: 0;
}

.navText,.navItem{
    padding: 9px;
    margin: 0;
    font-size: 17px;
    text-align: center;
    background-color: transparent;
    color: rgb(185, 158, 112)
}

.dropdown {
    float: left;
    padding: 0px;
}

.tratDropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.tratDropdown a {
  float: none;
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

nav a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

.tratDropdown a:hover {
  background-color: #ddd;
}

.dropdown:hover .tratDropdown {
  display: block;
}

.responsive { /*hide and format menu to be shown*/
    float: none;
    display: none;
    text-align: left;
}

.block{
    display: block;
}

/*Icon do menu animado*/
.container{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    padding: 0px 3px;
    display:none;
}

.container:hover{
    background-color:black;/**/
}

.container div{
    width: 30px;
    height: 5px;
    background-color: rgb(185, 158, 112);
    margin: 5px 0; /*Space beween bars*/
    border-radius: 50px;
    transition: 0.4s;
}

/*Animate Menu Icon*/
.change .bar1 {
    -webkit-transform: rotate(-46deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 7px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-7px, -8px);
}

/*Termina header*/
/*SlideShow*/
#slideShow {
   width: 100%;
}

.slide-container {
    width: 80%;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}

#slideShow img{
    float: right;
}

.centerBanner{
   float: none;
   margin: 0px auto;
   width: 900px; 
}
/*Main*/
main{
    /*Mudar para o tamanho das fotos em cada tipo de ecra*/
    margin-top: -4px;
}

/*Tratamentos*/
#trat{
    margin: auto;
    width: 60%;
    margin-top: -5px;
    padding:0px;
    padding-bottom: 50px;
}

.tab{
    margin-left: 20px;
}

.tab button{
    padding: 5px;
    border: 0;
    background-color:transparent
}

.tab button:hover{
    background-color: black;
}

.tabH{
    margin-left: -4px;
}

.tratH, .tratS{
    margin-top: 0px;
}

.tratH{
    width:100%;
    display:none;
}



.tratS{
    width:100%;
    display:inline-block;
    padding : 0px auto;
}

.tratH .uniTrat, .tabH.active , .tabH.active:hover, .tratHeaderH{
    background-color: rgb(70, 171, 238);
}

.tratS .uniTrat, .tabS.active, .tabS.active:hover,.tratHeaderS{
    background-color: pink;
}
.tratS ul, .tratH ul{
    list-style: none;
}

.uniTrat{
    float: left;
    border: 1px solid white;
    border-top: 0px;
    height: 190px;
    width: 165px;
    text-align: center;
    padding: 20px;
}

/*Promocoes*/
#promo,#cont{
    padding: 50px 0px;
    background-image: url("imgs/d6o2o85-f72a8e71-a764-4c72-a640-a39adb56ccf1.gif");
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.promoBackground h1{
    color:white;
    text-align:center;
    margin-bottom: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.promoBackground,.contBackground{
    background-color: black;
    width:60%;
    margin: 0px auto;
    padding: 20px 0px;
}

.promo{
    color: white;
    margin: 40px 40px;
    font-family:fantasy;
}

/*Testemunhos*/
#test{
    margin-bottom: 50px;
    padding: 20px 0;
    margin: auto;
    width: 60%;
}

#test .content{
    width: 100%;
}

#test .content h1{
   text-align: center;
}

#test .content .test{
    display: inline-block;
}

#test .content .test .testemunho{
    width: 165px;
    float: left;
    margin: 10px;
    text-align:justify;
    border: 3px dashed darkslateblue;
    padding: 5px;
}

/*Agendar*/


/*Contactos*/
.contMorada,.contEmail,.contTelef,.contHor{
    display: inline-block;
    width:92%;
    margin: 5px 4%;
}

#cont h1{
    color:white;
    text-align:center;
    margin-bottom: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contMorada *, .contEmail *, .contTelef *,.contHor *{
    float: left;
    vertical-align: middle;
}

.contMorada p, .contEmail p, .contTelef p,.contHor p{
    color:white;
    padding-left: 2%;
}

iframe {
    margin: 30px 3%;
    width: 95%;
    height: 400px;
    border:0;
}

/*PAGINA TRATAMENTOS*/
.tratImagem{
    float:left;
}